@import 'extra/_variables.scss';
@import 'extra/_helpers.scss';

// Default mobile style

/* Keyframe fade */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* webkit Keyframe fade */
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

header {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background-color: $dark-blue;
  border-bottom: 5px solid $light-grey;

  h1 {
    text-align: center;
    font-family: 'Righteous', sans-serif, cursive;
  }

  figure {
    margin: auto;
    img {
      display: block;
    }
    figcaption {
      padding: 5px;
      text-align: center;
      background-color: $dark-grey;
      color: $white;
    }
  }

  blockquote {
    text-align: center;
    font-style: italic;
    color: $white;
    position: relative;
    quotes:  "\201C""\201D""\2018""\2019";

     &:before {
       content: open-quote;
     }
     &::first-letter {
       font-size: 30px;
     }
   }
}

nav {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding: 5px 15px 5px 15px;

    }
  }

  a {
    text-decoration: none;
  font-family: 'Quicksand', sans-serif, cursive;
    &:link {color: $grey;}
    &:visited {color:$white;}
    &:hover {}
  }
}

/* Section style part */
section {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif, cursive;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Righteous', sans-serif, cursive;

    text-align: center;
  }

  .comment-card {
      padding: 5px;
      margin: 5px;
      box-shadow: 0 5px 1px 0px $light-blue;
      border-radius: 15px 0;
      text-align: center;

    li {
      margin: 15px;

      span {
        font-weight: bold;
      }
    }
    .btn-delete {
      background-color: $red;
      border-radius: 5px;
      padding: 5px;

      &:hover {
      color: $red;
      background-color: $white;

        .fa-times-circle {
          color: $red;
        }
      }

      .fa-times-circle {
        color: $white;
      }

    }

    .btn-report {
      background-color: $orange;
      border-radius: 5px;
      padding: 5px;

      &:hover {
        color: $orange;
        background-color: $white;

        .fa-exclamation-triangle {
          color: $orange;
        }
      }

      .fa-exclamation-triangle {
        color: $white;
      }
    }
  }

form {
    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: column;

        label {

        }
      }
    }
  }
}

/* Table style default */
table {
  display: flex;
  flex-direction: column;
  margin: 10px;

  tr {
    display: flex;
    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* Article style part */
article {

  table {
    tbody {

      tr {
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 15px 0;
        box-shadow: 0px 5px 1px 1px $dark-blue;
        margin: 5% 0 5% 0;
        background-color: $light-grey;

        td {
          width: 100%;
          margin: 5px 0 5px 0;

          &:nth-child(1) {
            font-weight: bold;
            color: $red;
          }

          &:nth-child(3) {
            display: flex;
            justify-content: center;

            &:nth-child(3) a {
              padding: 5px;
              border: solid;
              border-width: 2px 2px 0 0;
              border-radius: 10px 0;
              border-color: $dark-blue;
              user-select: none;

              &:link {color: $white;}
              &:visited {color:$white;}
              &:hover {
                color: $white;
                border-color: $white;
                background: -webkit-linear-gradient(3deg, rgba(40, 95, 130, 1.0) 55%, rgba(255,255,255,1) 90%);
                background: -o-linear-gradient(3deg, rgba(40, 95, 130, 1.0) 55%, rgba(255,255,255,1) 90%);
                background: linear-gradient(3deg, rgba(40, 95, 130, 1.0) 55%, rgba(255,255,255,1) 90%);
              }
            }
          }
        }
      }
    }
  }

  h3 {
    color: $dark-red;
    text-decoration: underline;
  }
}

// Btn linked to Javascript
/* Slider btn control style */
.controls {
  display: flex;
  justify-content: space-around;

  input {
    display: none;
  }
  label {
    font-size: 50px;
    cursor: pointer;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
  }
  .prev:hover {
    border-radius:0 15px;
    box-shadow: -20px 0 10px 20px rgba(0,0,0,0.5);
  }
  .play:hover
  {
    border-radius: 0px 200px 200px 0px;
    box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  .pause:hover {
    box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  .next:hover {
    border-radius: 15px 0;
    box-shadow: 20px 0 10px 20px rgba(0, 0, 0, 0.5);
  }
}

.fade {
    animation: fade 1.5s;
    -webkit-animation: fade 1.5s;
}

footer {
  border-top: 5px solid $light-grey;

  h4 {
    font-family: 'Righteous', sans-serif, cursive;
  }

  nav ul li:nth-child(n) {
    border-bottom: 3px solid $light-grey;
  }
}
