/* Keyframe fade */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* webkit Keyframe fade */
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: snow;
    font-family: 'Quicksand', sans-serif, cursive;
}

nav,
h2,
h1 {
    font-family: 'Righteous', sans-serif, cursive;
}
h2,
h1{
    color: #343738;
}

nav {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav li {
    padding: 10px;
}
nav,
footer
{
    background-color: royalblue;
}

/*  */
section h1 {
    display: flex;
    justify-content: center;
    width: auto;
}

/*  */
form {
    display: flex;
    flex-direction: column;
}

/*  */
footer {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}
nav a:link,
footer a:link
{
    color: ghostwhite;
}
nav a:visited,
footer a:visited
{
    color:papayawhip;
}
nav a:hover,
footer a:hover {
  text-decoration: underline dotted;
}
.btn-grey {
  padding: 2px;
  background-color: dimgrey;
}
.btn-grey:link {color:ghostwhite;}
.btn-grey:visited {color:ghostwhite;}
.btn-grey:hover {background-color: royalblue;}

ul {
    list-style-type: none;
    padding: 0;
}

.fa-user-plus {color: green;}
.fa-user-plus:hover {color: darkgreen;}

.fa-pen-square {color: royalblue;}
.fa-pen-square:hover {color: blue}

.fa-times-circle {color: red;}
.fa-times-circle:hover {color: darkred;}

.full-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: auto;
}
.full-content li {
  margin: 10px;
}

.full-comment {
  display: flex;
  flex-direction: column;
}
.comment-card {
  display: flex;
  align-content: center;
  flex-direction: column;

  border: 1px solid black;
}
.comment-card li {
  display: flex;
  justify-content: center;
}

.back-post {
  align-self: center;
}

article {
  margin: 5%;
}

.admin-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.admin-container li {
  align-self: center;
  padding: 10px;
}



table,
tr {
  border: 2px solid black;
}
table {
  margin: auto;
}
th {
  color: ghostwhite;
  background-color: dimgrey;
}
tr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
td {
  padding: 2%;
}



.picture {
    display: none;
}

/*//////////*/
/* Controls */
.controls {
    justify-content: space-between;
    border: none;
}

.controls input {
    display: none;
}

/* fa- hand next/previous  */
.prev,
.next,
.pause,
.play {
    cursor: pointer;
    width: auto;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.pause:hover,
.play:hover
{
    background-color: rgba(0,0,0,0.4);
}

.prev-mvt,
.next-mvt,
.pause-mvt,
.play-mvt {
    width: 40px;
}

/* Fading animation */
.fade {
    animation: fade 1.5s;
    -webkit-animation: fade 1.5s;
}

/*~~~~##~~~~*/
/* Helpers */
.flex {
    display: flex;
}

.hide {
    display: none;
}

.relative {
    position: relative;
}

.br-5 {
    border-radius: 5%;
}



/* Media mobile screen */
@media screen and (min-width: 479px) {
  .comment-card {
    margin: 1%;
  }
}
/* Media tablet screen */
@media screen and (min-width: 959px) {
  article {
      display: flex;
      flex-direction: column;
      margin: auto;
      align-items: center;
      width: calc(100% - 25%);
  }

  form {
      margin: auto;
      width: 50%;
    }

  .full-comment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 0px;
  }

}
/* Media desktop screen */
@media screen and (min-width: 1281px) {
  form {
    max-width: 50%;
  }
}
