/* @keyframes name */
@keyframes name {}

/* webkit keyframe name */
@-webkit-keyframes name{}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Quicksand', sans-serif, cursive;
}

nav,
h2,
h1 {
    font-family: 'Righteous', sans-serif, cursive;
}
h2,
h1{
    color: #343738;
}

/*  */
nav {
    display: flex;
    justify-content: center;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav li {
    padding: 10px;
}
nav,
footer
{
    background-color: royalblue;
}

/*  */
section h1 {
    display: flex;
    justify-content: center;
    width: auto;
}

/*  */
form {
    display: flex;
    flex-direction: column;
}

/*  */
footer {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}
a:link {
    color: ghostwhite;
}
a:visited {
    color:papayawhip;
}
a:hover {
    color: dimgrey;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Media mobile screen */
@media screen and (min-width: 479px) {
    form {
        padding: 0 25% 0 25%;
        margin: auto;
        max-width: 70%;
    }
}
/* Media tablet screen */
@media screen and (min-width: 959px) {}
/* Media desktop screen */
@media screen and (min-width: 1281px) {}