/* Colors Variables */
$pure-white: white;
$white: rgb(230, 232, 236);
$beige: papayawhip;

$light-grey: rgba(166, 166, 166, 0.8);
$grey: rgb(100, 100, 100);
$dark-grey: rgb(60, 60, 60);

$light-red: rgb(245, 40, 40);
$red: rgb(198, 40, 40);
$dark-red: rgb(142, 40, 40);

$light-green:rgb(91, 220, 75);
$green: rgb(70, 165, 55);
$dark-green:rgb(50, 120, 40);

$light-blue: rgb(75, 170, 235);
$blue: rgb(60, 145, 200);
$dark-blue: rgb(40, 95, 130);

$light-orange: rgb(245, 185, 70);
$orange: rgb(215, 150, 30);
$dark-orange: rgb(160, 110, 20);

$light-violet: rgb(175, 70, 240);
$violet: rgb(130, 50, 175);
$dark-violet: rgb(80, 30, 115);
