{% extends "layout/template.twig" %}

{% block description %}

{% endblock %}

{% block content %}
    <h1>Connexion au site</h1>
    <form method="post" action="#">
        <label for="Login">Votre Identifiant</label>
        <input type="text" id="Login" placeholder="Identifiant" name="Login" required>

        <label for="Password">Votre mot de passe</label>
        <input type="text" id="Password" placeholder="Mot de passe" name="Password" required>

        <input type="submit">
    </form>
{% endblock %}