{% extends 'layout/template.twig' %}

{% block description %}
Formulaire pour contacter Jean Forteroche.
{% endblock %}

{% block title %} Me contacter {% endblock %}

{% block content %}
  <h2>Formulaire de contact</h2>
  <form method="post" action="{{ url('contact!mail') }}">
    <ul>
      {% if session.users.status is defined %}
        <li>
          <label for="first_name">Votre Prénom</label>
          <input id="first_name" type="text" name="first_name" value="{{ session.users.first_name }}" required>
        </li>
        <li>
          <label for="last_name">Votre nom</label>
          <input id="last_name" type="text" name="last_name" value="{{ session.users.last_name }}" required>
        </li>
        <li>
          <label for="email">E-mail</label>
          <input id="email" type="email" name="email" value="{{ session.users.email }}" required>
        </li>
        <li>
          <label for="subject">L'objet du message</label>
          <input id="subject" type="text" name="subject" placeholder="Objet du message" required>
        </li>
        <li>
          <label for="contents">Votre Message</label>
          <textarea id="contents" placeholder="Votre Message" name="content" rows="6" required></textarea>
        </li>
        <li>
          <input type="submit" value="Envoyer">
        </li>

      {% else %}
        <li>
          <label for="first_name">Votre Prénom</label>
          <input id="first_name" type="text" placeholder="Prénom" name="first_name" required>
        </li>

        <li>
          <label for="last_name">Votre nom</label>
          <input id="last_name" type="text" placeholder="Nom" name="last_name" required>
        </li>

        <li>
          <label for="email">E-mail</label>
          <input id="email" type="email" placeholder="Mail" name="email" required>
        </li>

        <li>
          <label for="subject">L'objet du message</label>
          <input id="subject" type="text" name="subject" placeholder="Objet du message" required>
        </li>

        <li>
          <label for="contents">Votre Message</label>
          <textarea id="contents" placeholder="Votre Message" name="content" rows="6" required></textarea>
        </li>

        <li>
          <input type="submit" value="Envoyer">
        </li>
      {% endif %}
    </ul>
  </form>
{% endblock %}
