{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} Billet Simple pour l'Alaska - Jean Forteroche {% endblock %}

{% block content %}
<h2>Voici mon dernier chapitre</h2>
<article>
        {% for post in posts %}
            <section class="picture fade">
              <h3>{{ post.title }}</h3>
              <p>{{ post.content | nl2br }}</p>
            </section>
        {% endfor %}
</article>


  <!--    Controls    -->
  <div class="controls flex">
    <input type="button"  id="prev">
    <label for="prev" id="prev-lb" class="prev">
        <i class="fa fa-chevron-left prev-mvt"></i>
    </label>

    <input type="button" id="play-btn">
    <label for="play-btn" id="play" class="play">
        <i class="fa fa-play play-mvt"></i>
    </label>

    <input type="button" id="pause-btn">
    <label for="pause-btn" id="pause" class="pause hide">
        <i class="fa fa-pause pause-mvt"></i>
    </label>

    <input type="button" id="next">
    <label for="next" id="next-lb" class="next">
        <i class="fas fa-chevron-right next-mvt"></i>
    </label>
  </div>
{% endblock %}

{% block script %}
    <script src="../public/js/script.js"></script>
    <script src="../public/js/Slider.js"></script>
{% endblock %}
