{% extends 'layout/template.twig' %}


{% block title %} Bienvenue Sur mon blog {% endblock %}

{% block content %}
        <h1>Voici mon dernier chapitre :</h1>
        <ul>
            {% for post in posts %}
                <li>
                    {{ post.title }}
                    <br>
                    {{ post.content }}
                </li>
                <hr>
            {% endfor %}
        </ul>
{% endblock %}