{% extends 'template.twig' %}


{% block title %} Bienvenue Sur mon blog {% endblock %}

{% block content %}
    <section>
        <h1>Voici mon dernier chapitre :</h1>
        <p>
                {{ posts.content }}
        </p>
    </section>
{% endblock %}