{% extends 'layout/template.twig' %}

{% block description %}

{% endblock %}

{% block title %} Voici tout mes chapitres {% endblock %}

{% block content %}
    <h1>Voici mes chapitres :</h1>
    <table>
      <thead>
        <tr>
          <th>Chapitre</th>
        </tr>
      </thead>

      <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post.title }}</td>

          <td>{{ post.content | slice(0,150) }}</td>
          <td>
            <a href="{{ url('fullpost!read', {'id': post.id}, {'id': comment.post_id}) }}">
              <button type="button" name="button">Lire la suite</button>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}
