{% extends 'layout/template.twig' %}

{% block description %}
Liste des chapitres postés par Jean Forteroche.
{% endblock %}

{% block title %} Voici tout mes chapitres {% endblock %}

{% block content %}
    <h2>Voici mes chapitres </h2>
    <article>
      <h3>Ma liste :</h3>
        <table>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.content | nl2br }}</td>
                    <td>
                        <a href="{{ url('fullpost!read', {'id': post.id}, {'id': comment.post_id}) }}">Commenter ce chapitre</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
