<footer>
    <ul>
        <h2>Me retrouver sur :</h2>
        <i class="fab fa-github"></i>
        <li>Github</li>
        <i class="fab fa-twitter"></i>
        <li>Twitter</li>
    </ul>
    <ul>
        <h2>Plan du site :</h2>
        <li>Accueil</li>
        <li>Contact</li>
        <li>Connexion</li>
    </ul>
</footer>

{% block script %}
    <script src="https://kit.fontawesome.com/a4207f1681.js" crossorigin="anonymous"></script>
{% endblock %}