<footer>
    <ul>
        <li>
            <h2>Me retrouver sur :</h2>
        </li>

        <li>Github <i class="fab fa-github"></i></li>

        <li>Twitter <i class="fab fa-twitter"></i></li>
    </ul>
    <ul>
        <li><h2>Plan du site :</h2></li>
        <li>Accueil</li>
        <li>Contact</li>
        <li>Connexion</li>
    </ul>
</footer>
