<nav>
    <ul>
        <li>
            <a href="{{ url('home') }}" title="home">Accueil</a>
        </li>
        <li>
            <a href="{{ url('contact') }}" title="contact">Contact</a>
        </li>
        <li>
            <a href="{{ url('connexion') }}" title="connexion">Connexion</a>
        </li>
    </ul>
</nav>